.track-item{
  position: relative;
  width: 100%;
  height: 350px;
  background: red;
  background-image: linear-gradient(135deg, rgb(106,112,67) 0%,rgb(11,15,20) 100%);
}
.info-track{
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  &_btn{
    height: 30px;
    margin-right: 20px;
  }

  &_title{
    display: block;
    font-size: 22px;
    color: #FFF;
  }
  &_author{
    font-size: 18px;
    color: #FFF;
  }
}
.img-wrap{
  width: 200px;
  height: 200px;
  background: #ccc;
  position: absolute;
  right: 25px;
  top:50%;
  transform: translateY(-50%);

}
.img-track{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.wave-form-container {
      cursor: pointer;
      position: relative;
      margin-top: 225px;
      &:hover{
        .hover-wave {
      opacity: 1;
    }
      }
    }
    
    .hover-wave {
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 10;
      pointer-events: none;
      height: 100%;
      width: 0;
      mix-blend-mode: overlay;
      background: rgba(255, 255, 255, 0.5);
      opacity: 0;
      transition: opacity 0.2s ease;
    }
    .time,
    .duration {
      position: absolute;
      z-index: 11;
      top: 50%;
      margin-top: -1px;
      transform: translateY(-50%);
      font-size: 11px;
      background: rgba(0, 0, 0, 0.75);
      padding: 2px;
      color: #ddd;
    }
    .time {
      left: 0;
    }
    .duration {
      right: 0;
    }

// 
